.page-clientes .page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}
<<<<<<< HEAD

.page-clientes .table th {
    white-space: nowrap;
}

.page-clientes .table td {
    vertical-align: middle;
}

.page-clientes .btn.danger {
    background: rgba(220,38,38,.10);
    border-color: rgba(220,38,38,.30);
    color: #7f1d1d;
    margin-left: 8px;
}

    .page-clientes .btn.danger:hover {
        background: rgba(220,38,38,.20);
    }
=======
>>>>>>> c258a47c036e1f2f3bda8cbc9ae982b2e22d35a1
